#box {
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 0 auto;
    width: 500px;
    height: 750px;
    background-color: rgba(255,255,255,0.5);
    font-size: 20px;
}
html {
    background-image: url("background.jpg") ;
}